<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'KTM - Orders')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div class="container" th:fragment="content">

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Номер</th>
                <th>Счет</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="order:${orders}">
                    <td th:text="${order.id}">1</td>
                    <td th:text="${order.extOrderId}">extOrderId</td>
                    <td>-</td>
                    <td>
                        <a th:href="@{'/web/orders/get/' + ${order.id}}" class="btn btn-primary btn-sm">...</a>
                        <a th:href="@{'/web/orders/delete/' + ${order.id}}" class="btn btn-danger btn-sm">X</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>