<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'KTM - Orders')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div class="container" th:fragment="content">


    <form action="#" th:modelAttribute="order" th:action="@{/web/orders/ordermng}" th:object="${order}" method="post">
        <div>
            <p class="fs-2" th:text="'Assembly order № ' + ${id}">Assembly order № - от -</p>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="extorderid">Ext.Order</span>
            <input class="form-control" type="number" th:field="*{extOrderId}"/>
        </div>

        <div>
            <p>
                <button class="btn btn-primary" type="submit" name="action" value="addRow">+</button>
            </p>
        </div>

        <div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>№</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="od, odSt:*{assemblyOrderDetails}">

                    <td th:text="${odSt.index}"></td>
                    <td>
                        <div class="form-group blu-margin">
                            <select class="form-control" th:field="*{assemblyOrderDetails[__${odSt.index}__].product.id}">
                                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                               th:field="*{assemblyOrderDetails[__${odSt.index}__].qty}"/>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm">X</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary" type="submit" name="action" value="submit">Save</button>

    </form>
</div>
</body>
</html>
