<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'KTM - Orders')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div class="container" th:fragment="content">


    <form action="#" th:modelAttribute="order" th:action="@{/ordermng}" th:object="${order}" method="post">
        <div>
            <p class="fs-2" th:text="'Заказ № ' + ${id}">Заказ № - от -</p>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="extorderid">Счет</span>
            <input class="form-control" type="number" th:field="*{extOrderId}"/>
        </div>


        <!--    <form action="#" th:modelAttribute="assemblyOrderDetails" th:action="@{/ordermng}" th:object="${assemblyOrderDetails}" method="post">-->

        <div>
            <p>
                <button class="btn btn-primary" type="submit" name="action" value="addRow">+</button>
            </p>
        </div>


        <div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>№</th>
                    <th>Номенклатура</th>
                    <th>Кол-во</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="od, odSt:*{assemblyOrderDetails}">


                    <!--<td> <p>extOrderId: <input type="number" th:field="*{id}" /></p> </td>-->

                    <td th:text="${odSt.index}"></td>
                    <td>
                        <!--                                <input class="form-control" type="number" th:field="*{assemblyOrderDetails[__${odSt.index}__].productId}" />-->
                        <div class="form-group blu-margin">
                            <select class="form-control" th:field="*{assemblyOrderDetails[__${odSt.index}__].product.id}">
<!--                                <option value="0">select operator</option>-->
                                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                            </select>
                        </div>
                    </td>
                    <!--                        <td th:text="${od.qty}">0.00</td>-->
                    <td>
                        <input class="form-control" type="number"
                               th:field="*{assemblyOrderDetails[__${odSt.index}__].qty}"/>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm">X</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary" type="submit" name="action" value="Submit">Сохранить</button>

    </form>



</div>
</body>
</html>
