<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'KTM - Report')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div class="container" th:fragment="content">

    <p class="h2">Отчет по заказам</p>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Заказ</th>
                <th>Счет</th>
                <th>Продукция</th>
                <th>В заказе</th>
                <th>В работе</th>
                <th>Выполнено</th>
                <th>Процент вып., %</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="osr:${orders_stages_remains}">
                <td th:text="${osr.orderId}">1</td>
                <td th:text="${osr.extOrderId}">extOrderId</td>
                <td th:text="${osr.productId}">extOrderId</td>
                <td>-</td>
                <td th:text="${osr.qty}">extOrderId</td>
                <td>-</td>
                <td>0.00%</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>