<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'KTM - Report')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div class="container" th:fragment="content">

    <p class="h2">Report</p>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Ass.Order</th>
                <th>Ext.Order</th>
                <th>Product</th>
                <th>Stage</th>
                <th>Qty</th>
                <th>Done</th>
                <th>Complete, %</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="osr:${orders_stages_remains}">
                <td th:text="${osr.orderId}">1</td>
                <td th:text="${osr.extOrderId}">extOrderId</td>
                <td th:text="${osr.productName}">extOrderId</td>
                <td th:text="${osr.stageName}">extOrderId</td>
                <td th:text="${osr.qty}">extOrderId</td>
                <td th:text="${osr.qtyDone != 0} ? ${osr.qtyDone} : '-'">extOrderId</td>
                <td th:text="${osr.qtyDone*100/osr.qty != 0} ? ${osr.qtyDone*100/osr.qty} : '-'">0.00%</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>